body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

html, body {
    height: 100%;
}

header nav {
  text-align: center;
/*  background: rgba(0,0,0,0.6);
*/  color: white;
  font-size: 1em;
  position: fixed;
  width: 100%;
  font-family: Raleway;
  border-bottom: #abb8c2 1px solid;

}

p{
  font-size: 17px;

  margin-bottom: 0px;
}

#navbar{
z-index: 10;
background: white;
}

.img-circle{
  border-radius: 50%;
  width="50";
  height="50";
}

/*.img-name{
  width="50";
  height="50";
}
*/
.navname{
    transition: 0.4s;
/*  color: #ffffff;
*/    color: black;

  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
  float: left;
  position: absolute;
  left: 4em;
  top: 1.15em;
}

.navtitle {
  transition: 0.4s;
/*  color: #ffffff;
*/    color: black;

  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}

.navtitle:hover {
    font-size: 1.1em;

  background-color: #ffffff;
  color: #5175C0;
  padding: 24px 10px;
  text-decoration: none;
    font-weight: bold;

}

.selected {
  font-weight: bold;
  font-size: 1.1em;
  color: #5175C0;
  border-bottom: #5175C0 3px solid;
  background-color: #ffffff;
  padding: 24px 10px;
}


header nav a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 2em 1em .5em;
  -webkit-transition: all .3s ease-in;
}

.navTitleChange {
  padding: .5em 1em;
}

.navTitleChange:hover {
    font-size: 1.1em;
  font-weight: bold;

  background-color: #ffffff;
  color: #5175C0;
  padding: .5em 1em;
}
/*header nav a:hover {
  text-decoration: underline;
}*/

.titleAboutME{
  text-align: left;
  padding-bottom: 15px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;

}

.titleAboutME:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #000;
  margin: auto 0em auto 1em;
}

.titleMiddle {
  display: flex;
  flex-direction: row;

}
.titleMiddle:before, .titleMiddle:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #000;
  margin: auto 1em;
}

.imgCenter{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.projectImg{
  width: 100%;
  border: black solid 1px;
}

.ViewPointHeight{
  height: 100vh; 
  background-color: transparent;
}

.portion {
  background: white;
/*  background-image:  url('http://p1.pichost.me/640/60/1842352.jpg');
*/  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.portion.two {
  background: white;
/*  background-image: url('http://cdn.desktopwallpapers4.me/media/thumbs_400x250/4/31677.jpg');
*/}
.portion h2 {
  color: white;
  font-weight: normal;
  font-size: 3em;
  padding: 2em 0;
  margin: 0;
  text-shadow: 0 0 10px black;
  background: rgba(0,0,0,0.6);
}

.info {
  background: white;
  color: #777;
  padding: 84px 10% 0em 10%;
}

/*.portion1Content{
  padding: 10% 0;
}
*/

.container{
  height: 100%;
}

.footerContainer{
  padding: 1em 0; 
  background: #777;
  margin-top: 10em;
}

.footerinfo{
  color: #FFFAF0;
  padding: 1em auto;
  text-align: center;
  margin: 0px 0px;
}

#toTop img {
  width: 50px;
}
#toTop img:hover {
  cursor: pointer;
}
nav img {
  z-index: 1000;
  height: 2.5em;
  position: absolute;
  left: 40px;
  top: 10px;
  transition: all 0.5s linear;
}

.navMove {
  top: -60px;
}

nav span {
  position: absolute;
  left: 40px;
  top: 10px;
  transition: all 0.5s ease-in;
}

/*.movetext {
  top: -30px;
}*/


/**{
  margin:0;
  padding:0;
  box-sizing:
}
body{
  background:#CCCAA1;
  font-family: 'Source Sans Pro', sans-serif;
}*/
ul li{
  list-style:none;
}
h1{
  padding:15px 0 25px 0;
  text-align:center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size:2.2em;
}
.nav{
  overflow:hidden;
  margin:0 auto;
  width:750px;
}
.nav li{
  width:145px;
  height:180px;
  display:inline-block;
  float:left;
  cursor:pointer;
  transition:all 0.4s;
  -webkit-transition:all 0.4s;
  -moz-transition:all 0.4s;
}
.nav li:hover{
  opacity:1;
  height:230px;
}
.nav li.hm:hover{
  border-bottom:4px solid rgba(11, 132, 138, 1);
}
.nav li.fb:hover{
  border-bottom:4px solid rgba(241, 83, 70, 1);
}
.nav li.gp:hover{
  border-bottom:4px solid rgba(32, 16, 49, 1);
}
.nav li.tw:hover{
  border-bottom:4px solid rgba(228, 148, 7, 1);
}
.nav li.cl:hover{
  border-bottom:4px solid rgba(67, 138, 15, 1);
}
img.icon{
  background:rgba(255, 255, 255, 0.4);
  padding:14px;
  border-radius:100%;
  margin:30px auto;
  display:block;
  transition:all 0.8s;
  -webkit-transition:all 0.8s;
  -moz-transition:all 0.8s;
  box-shadow: 0 0 0 30px rgba(255,255,255,0.1);
  -webkit-box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
}
.nav li:hover img.icon{
  background:rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 0 10px rgba(255,255,255,0.8);
  -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0.8);
}
.nav li span{
  text-align:center;
  display:block;
  padding-top:10px;
  color:rgba(255, 255, 255, 1);
  font-size:0.9em;
  transition:padding-top 0.4s;
  -webkit-transition:padding-top 0.4s;
}
.nav li:hover span{
  padding-top:20px;
}
.hm{
  background:rgba(29, 162, 168, 0.8);
}
.fb{
  background:rgba(255, 89, 76, 0.8);
}
.gp{
  background:rgba(47, 31, 64, 0.8);
}
.tw{
  background:rgba(254, 162, 14, 0.8);
}
.cl{
  background:rgba(93, 181, 29, 0.8);
}